#screen1 {
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  padding-top: 25vh;
  gap: 5vh;
}

#screen1 h1 {
  position: relative;
  font-size: 3em;
  opacity: 1;
  transition: opacity 0.7s ease;
}

#screen1 h1.searching {
  opacity: 0;
}

#screen1 input {
  position: relative;
  height: 10%;
  width: 100%;
  max-height: 80px;
  border-radius: 1000px;
  outline: none;
  font-size: 2em;
  padding: 2rem;
  background: var(--background);
  border: 3px solid var(--middleground);
  transition: transform 0.8s ease;
  z-index: 3;
  tabindex="0";
}

#screen1 input.searching {
  transform: translateY(-25vh);
}

#screen1 div#search-results {
  height: 50vh;
  width: var(--thirds);
  background: var(--background);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--middleground);
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius: 1.5rem;
  overflow-y: scroll;
  z-index: 2;
}

#screen1 div.searching:not(:empty) {
  opacity: 1 !important;
}

#screen1 div#search-results div.search-result {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem;
}

#screen1 div#search-results div.search-result:hover {
  background: var(--middleground);
  cursor: pointer;
}

#screen1 div#search-results div.search-result .left {
  display: flex;
  flex-direction: column;
}

#screen1 div#search-results div.search-result .left .username {
  font-size: 0.7rem;
  color: var(--dim);
}
